/* 
    COLOR THEME
*/

:root {
    --primary: #2e51a2;
    --primary-light: #e1e7f5;
    --primary-hover: #5a79c1;
    --primary-blend: #9caed9;
    --primary-add: #4f74c8;
    --sub-header: #7f7f7f;
    --border-color: #dee2e6;
    --border-dark: #bebebe;
    --border-secondary: #92b0f1;
    --table-header-bg: #dde1ec;
    --table-body-bg: #f5f6f9;
    --light-bg: #efefef;
    --button-bg: #d6dce4;
    --dark: #444;
    --focus-bg: #f6f6f6;
    --focus-border: #ebebeb;
    --gray-icon: #787878;
}

a {
    color: var(--primary);
}

body {
    font-family: Verdana, Helvetica, sans-serif;
}

/* 
    NAV BAR 
*/

#navbar-top {
    padding: 0px;
}

.nav-button {
    width: 100px;
    height: 25px;
    margin-left: 10px;
    padding: 0px;
}

.nav-button#nav-button-login {
    border-color: var(--primary);
    border-width: 2px;
    color: var(--primary);
    font-weight: bold;
}

.nav-button#nav-button-login:hover {
    background: var(--primary-light);
}

.nav-button#nav-button-signup {
    background: var(--primary);
    color: white;
    font-weight: bold;
}

.nav-button#nav-button-signup:hover {
    background: var(--primary-hover);
    border-color: var(--primary-hover);
}

#navbar-bottom {
    background-color: var(--primary);
    padding: 0px;
    font-size: 13px;
}

#navbar-bottom .dropdown-toggle {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

#navbar-bottom .dropdown-toggle::after {
    display: none;
}

#navbar-bottom .dropdown-toggle:hover {
    color: black;
    background-color: var(--primary-light);
}

#navbar-bottom .dropdown-menu {
    color: black;
    font-size: 11px;
}

#navbar-bottom .dropdown .dropdown-menu {
    margin-top: -0.5px;
    background-color: var(--primary-light);
    border: 0px;
    border-radius: 0;
    padding: 0px;
}

#navbar-bottom .dropdown-menu .dropdown-item {
    padding: 8px 5px;
    font-size: 11px;
}

#navbar-bottom .dropdown-menu .dropdown-item:hover {
    background-color: var(--primary);
    color: white;
}

#navbar-bottom .nav-item:hover .dropdown-menu {
    display: block !important;
}

#navbar-bottom form .input-group, #navbar-bottom form .input-group select, #navbar-bottom form .input-group input, #navbar-bottom form .input-group button {
    height: 20px;
    padding: 0px;
    font-size: 11px;
}

#navbar-bottom form .input-group {
    padding-right: 10px;
}

#navbar-bottom form .input-group select {
    width: 90px;
    padding-left: 10px;
    padding-right: 25px;
    background-color: white;
    border-radius: 0.25rem 0 0 0.25rem;
}

#navbar-bottom form .input-group input {
    padding-left: 10px;
    width: 286px;
    border: 0px;
}

#navbar-bottom form .input-group button {
    width: 20px;
    background: var(--primary-light);
    color: var(--primary);
    border: 0px;
}

/* 
    MINI HEADER
*/

#mini-header {
    background-color: var(--primary-light);
    border-bottom: 1px solid var(--primary);
}

#mini-header h1 {
    font-weight: bold;
    font-size: 16px;
    padding-top: 8px;
}

/* 
    FOOTER
*/

#footer {
    background: var(--primary);
    color: white;
}

#footer .list-group {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url(/images/footer-sns-border.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 720px 1px;
    height: 30px;
}

#footer .list-group-item {
    height: 20px;
    padding: 5px;
    padding-left: 18px;
    padding-right: 18px;
    background: transparent;
    border: none;
    line-height: 7px;
}

#footer .list-group-item a {
    color: white;
    font-size: 12px;
}

#footer .list-group-item#footer-home {
    border-right: 1px solid var(--primary-blend);
}

#footer .list-group-item#footer-login {
    border-left: 1px solid var(--primary-blend);
}

#footer #copyright {
    margin: auto;
    text-align: center;
    color: var(--primary-blend);
    padding: 10px;
    font-size: 12px;
}

/* 
    BORDER
*/

.border-side {
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.border-bottom {
    border-bottom: 1px solid var(--border-dark);
}

.border-bottom-light {
    border-bottom: 1px solid var(--border-color);
}

.border-right {
    border-right: 1px solid var(--border-color);
}

/* 
    TEXT
*/

.font-12 {
    font-size: 12px;
}

.blend-text {
    color: var(--sub-header);
}

.view-more {
    color: var(--primary);
    font-size: 12px;
}

.add a {
    color: var(--primary);
    font-size: 10px;
    background-color: var(--button-bg);
    padding: 1px 3px 1px 3px;
    transition: ease-in-out .3s;
}

.add a:hover {
    color: white;
    background-color: var(--primary);
    text-decoration: none;
    transition: ease-in-out .3s;
}

/* 
    IMAGE
*/

.img-border {
    border: 1px solid var(--border-color);
    padding: 1px;
}

.img-thumbnail {
    width: 50px;
    height: 70px;
    object-fit: cover;
    border: 1px solid var(--border-color);
    padding: 1px;
}

/* 
    SPACE
*/

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

/* 
    BREADCRUMB
*/

.breadcrumb {
    padding: 10px 0px;
    font-size: 12px;
    background: none;
    margin: 0px;
    border: none;
}

.breadcrumb .separator {
    padding: 0px 10px;
}