/* 
    HOME
*/

#home-seasonal {
    padding-top: 10px;
}

#home-seasonal-title {
    font-weight: bold;
}

#home-seasonal .react-multi-carousel-list {
    padding-top: 10px;
}

#home-seasonal .react-multi-carousel-list .react-multiple-carousel__arrow--right {
    right: 0px;
}

#home-seasonal .react-multi-carousel-list .react-multiple-carousel__arrow--left {
    left: 0px;
}

#home-seasonal .react-multi-carousel-item {
    width: auto;
}

#home-seasonal .react-multi-carousel-item .card {
    width: 160px;
    border: 1px solid var(--border-color);
    opacity: 1;
    transition: ease-in-out .3s;
}

#home-seasonal .react-multi-carousel-item .card:hover {
    opacity: 0.8;
    transition: ease-in-out .3s;
}

#home-seasonal .react-multi-carousel-item .card .card-img-overlay {
    padding: 5px;
    top: auto;
    color: white;
    line-height: 1.2em;
    font-size: 11px;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 0;
    background-image: url(/images/image_box_shadow_bottom.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
}